{% extends 'core/base.html' %}

{% block content %}
	<main class="confirm-delete-container">
		<article class="confirm-delete-article">
			<h2>Confirm Delete Answer</h2>
			<p class="are-you-sure-p">Are you sure you want to delete this answer?</p>

			<div class="confirm-delete-article">
				<div class="card-body">{{ answer.content|linebreaks }}</div>
				{% if answer.media %}
					<div class="answer-image-container">
						<img src="{{ answer.media.url }}" alt="Answer Image" class="answer-image" />
					</div>
				{% endif %}
			</div>

			<form method="post">
				{% csrf_token %}
				<button type="submit" class="btn btn-danger">Yes, Delete</button>
				<a href="#" onclick="window.history.back(); return false;" class="btn btn-cancel">Cancel</a>
			</form>
		</article>
	</main>
{% endblock %}
