{% extends 'core/base.html' %}

{% block content %}
	<div class="single-tag-details">
		<h2 class="tag-title">Tag: <span class="tag-item" tabindex="0">{{ tag.name }}</span></h2>
		<hr>
		<h3>Questions using this tag:</h3>
		<ul class="tag-questions-list">
			{% for question in questions %}
				<li>
					<a href="{% url 'question_details' question.id %}">{{ question.title }}</a>
				</li>
			{% empty %}
				<li>No questions have been tagged with "{{ tag.name|capfirst }}".</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
