{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Q&A Platform</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
	<nav class="top-bar">
		<div class="container" id="top-bar-container">
			<a href="{% url 'questions_list' %}" class="top-bar-logo" aria-label="Home">
				<strong>Q&A Platform</strong>
			</a>

			<ul class="top-bar-links">
				{% if request.user.is_authenticated %}
					<li><a href="{% url 'question_create' %}">Ask Question</a></li>
					<li><a href="{% url 'profile-details' user.pk %}">Profile</a></li>
					{% include 'users/logout.html' %}
				{% else %}
					<li><a href="{% url 'login' %}">Log In</a></li>
					<li><a href="{% url 'register' %}">Sign Up</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
</header>

<main>
	{% block content %}
	{% endblock %}
</main>

<footer class="footer">
	<div class="container">
		<div class="footer-copy">
			&copy; {{ year }} Your Q&amp;A Platform. All rights reserved.
		</div>
	</div>
</footer>

</body>
</html>
