{% extends "core/base.html" %}

{% block content %}
	<main class="form-container">
		<article class="form-article">
			<h2 class="delete-heading"> Confirm Delete Question</h2>
			<p class="delete-question-msg">
				Are you sure you want to delete the question<br>
				<span class="delete-question-title">"{{ object.title }}"</span>?
			</p>
			<form method="post" class="delete-form">
				{% csrf_token %}
				<button type="submit" class="btn btn-delete">Confirm Delete</button>
				<a href="#" onclick="window.history.back(); return false;" class="btn btn-edit">Cancel</a>
			</form>
		</article>
	</main>
{% endblock %}
