{% extends "core/base.html" %}

{% block content %}
	<main class="auth-container">
		<article class="auth-article">
			<h2>Password Reset Sent</h2>
			{% if not request.user.is_authenticated %}
				<p>If an account with the email you entered exists, you will receive an email shortly with a link to reset your password.<br>(check spam and trash folders)</p>
				<a href="{% url 'login' %}" class="btn btn-answer">Back to Login</a>
			{% else %}
				<p>You will receive an email shortly with a link to reset your password.<br>(check spam and trash folders)</p>
				<a href="{% url 'profile-details' request.user.pk %}" class="btn btn-answer">Back to your profile</a>
			{% endif %}

		</article>
	</main>
{% endblock %}
