{% extends "core/base.html" %}

{% block content %}
	<main>
	<div class="questions-container">
		<article class="user-detail">
			<div class="profile-header">
				{% if user_obj.profile.avatar %}
					<img src="{{ user_obj.profile.avatar.url }}" alt="{{ user_obj.username }}'s avatar" class="avatar-img">
				{% else %}
					<span class="avatar-img avatar-placeholder">
			          {{ user_obj.username|first|upper }}
			        </span>
				{% endif %}
				<div>
					<h2>{{ user_obj.username }}</h2>
					<div class="user-joined">Joined on {{ user_obj.date_joined|date:"F j, Y" }}</div>
					{% if user_obj.first_name or user_obj.last_name %}
						<h3>{{ user_obj.first_name }} {{ user_obj.last_name }}</h3>
					{% endif %}
				</div>
				{% if user.is_authenticated and user == user_obj %}
					<a href="{% url 'edit-profile' %}" class="btn btn-edit" style="margin-left:auto;">Edit Profile</a>
				{% endif %}
			</div>

			<div class="profile-section">
				<h3>Bio</h3>
				<div class="user-bio">
					{% if user_obj.profile.bio %}
						{{ user_obj.profile.bio|linebreaks }}
					{% else %}
						<span class="bio-placeholder">No bio yet.</span>
					{% endif %}
				</div>
			</div>

			<div class="profile-section">
				<h3>Badges</h3>
				{% if user_obj.profile.badges.all %}
					<div class="user-badges">
						{% for badge in user_obj.profile.badges.all %}
							<a href="{% url 'badge-details' badge_slug=badge.slug %}"><span class="badge">{{ badge.name }}</span></a>
						{% endfor %}
					</div>
				{% else %}
					<span class="badges-placeholder">No badges yet.</span>
				{% endif %}
			</div>
		</article>
	</div>
	</main>
{% endblock %}
